.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-container button {
  display: flex;
  width: 70px;
  margin-bottom: 20px;
}

.detail-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 1300px;
}

.user-detail {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  background-color:#524632;
  border-radius: 20px;
}
.image {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.total-balance {
  background-color:#F5E9E2;
  width: 100%;
  color: black;
  border-radius: 20px;
}

.expense-income {
  display: flex;
  margin-left: 10px;
  gap: 20px;
}

.expense-container {
  flex-direction: column;
  display: flex;
  width: 300px;
  background-color:#05668D;
  flex-wrap: wrap;
  border-radius: 20px;
}

.income-container {
  flex-direction: column;
  display: flex;
  width: 300px;
  background-color:#4A726E;
  border-radius: 20px;
}
.income-container h1 {
  border-bottom: solid 10px #05668D;
  padding-bottom: 20px;
}
.expense-container h1 {
    border-bottom: solid 10px #4A726E;
    padding-bottom: 20px;
  }