.login-container{
    display: flex;

}

.form-container {
    display: flex;

}

.form-container label{

    margin-right: 10px ;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-container button{
    margin-top: 10px
}