.login-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  justify-content: center;
}
.landing-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.input-text {
  text-align: center;
}
.form-container {
  display: flex;
}
.secret-code {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  opacity: 0;
  animation: secret-code-animation 7s infinite;
}

.lock {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.form-container label {
  margin-right: 10px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-container button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .login-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
}

@keyframes secret-code-animation {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.75;
  }
}
