#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout {
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.user-container {
  
  margin-top: 50px;
}
.search-bar {
 margin-left: 400px;
  max-width: 500px;
}