.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.user-row {
  display: flex;
  background-color: rgba(128, 128, 128, 0.473);
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
  width: 200vh;
  border-radius: 10px;
  align-items: center;
  margin-top: 10px;
  
}

.user-row h3 {
    margin-right: 150px;
}
.user-row button {
  margin-left: auto;
  margin-right: 30px;
}
.user-row img {
  margin-right: 20px;
}

#root {
  width: 100%;
  height: 100%;
}
.headers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headers h1 {
  margin-left: 50px;
  margin-right: 50px;
}

